<h2>New Story</h2>
<%= form_for(@story) do |f| %>

  <div class="field">
    <%= f.label :title, "What is the name of your story?" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :name, "And what's your name?" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :town, "Where are you going?" %><br>
    <%= f.text_field :town %>
  </div>
  <div class="field">
    <%= f.radio_button :image, 'image1.png' %> <%= f.label :image, "image1" %><br />
    <%= f.radio_button :image, 'image2.png' %> <%= f.label :image, "image2" %><br />
    <%= f.radio_button :image, 'image3.png' %> <%= f.label :image, "image3" %><br />
  </div>

  <br>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>